<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

	<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=2">
	<link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
<!----422---->
<!----VisualHyip.com---->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<meta property="og:url" content="/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="swiftcryptrade.com">
    <meta property="og:site_name" content=" ">
    <meta property="og:image" content="/base/og.jpg">
    <meta property="twitter:title" content="swiftcryptrade.com">
    <meta property="twitter:site" content="swiftcryptrade.com">
    <meta property="twitter:image" content="/base/og.jpg">
    <meta property="twitter:image:src" content="/base/og.jpg" >
    <meta property="twitter:card" content="summary_large_image">

	<link rel="stylesheet" href="/style/style.css">

		<title>swiftcryptrade.com</title>
</head>
<body>
	<nav class="bg-blue-menu">
		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<a class="navbar-brand" href="/">
					<img src="/img/logo.png" alt="swiftcryptrade.com" title="swiftcryptrade.com" >
				</a>
				<div class="menu d-flex flex-fill align-items-center justify-content-end">
					<div class="menu-items d-none d-lg-flex flex-fill justify-content-between">
						<a href="/">Home</a>	
						<a href="/arbitrage">Arbitrage</a>
						<a href="/about_us">About us</a>
						<a href="/news">News</a>
						<a href="/partnership">Affiliate Program</a>
						<a href="/help">Support</a>
					</div>

					<div class="order-xl-2 auth-items d-lg-flex d-none align-items-center">
													<a class="btn-bordered" href="/login">Log in</a>
							<a href="/signup">Sign up</a>
											</div>
											
					<div class="order-xl-1 language-box">
						<button class="language">EN</button>
						<img src="/img/arrow-point.png">
						<div class="choose-language">
														<a href="/?language=ru">RU | Русский</a>						</div>
					</div>
					<button class="navbar-toggler d-lg-none" type="button"><span class="navbar-toggler-icon"></span></button>
					<span class="d-none close">&times;</span>
				</div>
			</div>
		</div>
	</nav>
 
	<div class="sub-page">
		<div class="container"><div class="form-box">
    <h1 class="text-center">Password recovery</h1>
	
	
<script language=javascript>


function checkform() {
  if (document.forgotform.email.value == '') {
    alert("Please type your username or email!");
    document.forgotform.email.focus();
    return false;
  }
  return true;
}
function showpassword2() {
  var x = document.getElementById("password2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}
</script>






<form action="/password" method=post name=forgotform onsubmit="return checkform();" class="mb-4" id="login-form"><input type="hidden" name="form_id" value="17004968573011"><input type="hidden" name="form_token" value="e199c7893532584f21daeddff3238a2a">
<input type=hidden name=a value="forgot_password">
<input type=hidden name=action value="forgot_password">

 

        <label><span class="icon-envelope-shape"></span> Email</label>
        <input type="text"  data-validate="email" placeholder="example@gmail.com" name='email' value="" autocomplete="off">

        <label><span class="icon-lock-shape"></span> New Password</label>
        <div class="password">
        <input type="password"  id="passpasss"  placeholder="Qwerty123!@#" name='password' value="" >
        <div class="show-password" onclick="showpassword2()"></div>
</div>

         
		
        



        <button class="btn-fill w-100" type="submit">Change Password</button>
    </form>
	    <a href="/login">I remembered the password</a>
    <div class="progress-request"></div>
</div>
</div>
</div>
</div>
<footer>
	<div class="container">
		<div class="row">
			<div class="col-xl-2 col-md-3 col-12 mb-md-0 mb-4">
				<div class="row h-100 justify-content-between">
					<div class="col-md-12 col-6"><img src="/img/logo.png" alt="swiftcryptrade.com" title="swiftcryptrade.com"></div>
					<div class="col-md-12 col-6 align-self-end">2022 swiftcryptrade.com.<br /> 
					All rights reserved</div>
				</div>
			</div>

			<div class="col-xl-10 col-md-9">
				<div class="row">
					<div class="col-xl-3 col-6 mb-lg-0 mb-4 links">
						<a href="/about_us">About us</a></br>
						<a href="/rules">Terms of use</a></br>
						<a href="/privacy_policy">Privacy policy</a></br>
						<a href="/cookie_policy">Cookies Policy</a>
<br>	<a href="/risk_disclosure">Risk Disclosure</a>
					</div>
					
					<div class="col-xl-3 col-6 links">
						<a href="/faq">FAQ</a></br>
						<a href="/help">Support Center</a></br>
						<a href="/support">Send request</a>
					</div>
				
				</div>
			</div>
		</div>

	</div>
</footer>

<!-- The Modal -->
<div id="modal-box" class="modal">
  <div class="modal-content">
    <span class="close">&times;</span>
    <strong></strong>
    <p></p>
  </div>
</div>
<!-- -->

<!-- Load default lang/variable -->
<script>var scriptMsg = {'not_accepted_agreement': 'Registration is only possible after acceptance of the agreement.', 'validate_email': 'Please enter a valid email address', 'short_password': 'Password is too short - minimum password length is 8 characters', 'weak_password': 'Weak password', 'send_data_msg': 'Sending data to the server', 'rcv_data_msg': 'rcv_data_msg', 'server_error': 'Internal server error. Please try again later.', 'error': 'Houston, we have a problem'};</script>
<!-- -->

<script src="/js/jquery-3.5.0.min.js"></script>
<script src="/js/bootstrap.min.js"></script>

<script src="/js/base.js"></script>


 
 <script src="/js/online_trading.js"></script>
	<script src="/js/jquery.marquee.min.js"></script>
	<script>
		
		$(document).ready(function() 
		{
			$('#partners').marquee({"duration": 30000, "css3easing": "linear", "duplicated": true, "gap": '0px', "startVisible": true});
		});
		
	</script>
	


	<script src="/js/Chart.min.js"></script>
	
	
	<script src="/js/qrcode.js"></script> 
	<script src="/js/copy.js"></script>
	<script src="/js/track.js"></script>
	
	<!----visualdep---->
		<script src="/js/jquery.easing.1.3.js"></script>
	<script src="/js/step_progress.js"></script>
	<script src="/js/input_validator.js"></script> 
	<script src="/js/form.js"></script>
	<script src="/js/modal.js"></script>
 
 
			<script src="/js/arbitrage.js"></script>
	 
<!----422---->
<!----VisualHyip.com---->



</body>
</html>