<!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

	<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=2">
	<link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
<!----422---->
<!----VisualHyip.com---->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<meta property="og:url" content="/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="swiftcryptrade.com">
    <meta property="og:site_name" content=" ">
    <meta property="og:image" content="/base/og.jpg">
    <meta property="twitter:title" content="swiftcryptrade.com">
    <meta property="twitter:site" content="swiftcryptrade.com">
    <meta property="twitter:image" content="/base/og.jpg">
    <meta property="twitter:image:src" content="/base/og.jpg" >
    <meta property="twitter:card" content="summary_large_image">

	<link rel="stylesheet" href="/style/style.css">

		<title>swiftcryptrade.com</title>
</head>
<body>
	<nav class="bg-blue-menu">
		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<a class="navbar-brand" href="/">
					<img src="/img/logo.png" alt="swiftcryptrade.com" title="swiftcryptrade.com" >
				</a>
				<div class="menu d-flex flex-fill align-items-center justify-content-end">
					<div class="menu-items d-none d-lg-flex flex-fill justify-content-between">
						<a href="/">Home</a>	
						<a href="/arbitrage">Arbitrage</a>
						<a href="/about_us">About us</a>
						<a href="/news">News</a>
						<a href="/partnership">Affiliate Program</a>
						<a href="/help">Support</a>
					</div>

					<div class="order-xl-2 auth-items d-lg-flex d-none align-items-center">
													<a class="btn-bordered" href="/login">Log in</a>
											</div>
											
					<div class="order-xl-1 language-box">
						<button class="language">EN</button>
						<img src="/img/arrow-point.png">
						<div class="choose-language">
														<a href="/language=ru">RU | Русский</a>						</div>
					</div>
					<button class="navbar-toggler d-lg-none" type="button"><span class="navbar-toggler-icon"></span></button>
					<span class="d-none close">&times;</span>
				</div>
			</div>
		</div>
	</nav>
 
	<div class="sub-page">
		<div class="container"><div class="form-box">
	<h1 class="text-center">Sign up</h1>
	
	
 

 <script language=javascript>
	function showpassword() {
  var x = document.getElementById("password1");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

function showpassword2() {
  var x = document.getElementById("password2");
  if (x.type === "password") {
    x.type = "text";
  } else {
    x.type = "password";
  }
}

 function checkform() {
  if (document.regform.fullname.value == '') {
    alert("Please enter your full name!");
    document.regform.fullname.focus();
    return false;
  }
 
  
  if (document.regform.username.value == '') {
    alert("Please enter your username!");
    document.regform.username.focus();
    return false;
  }
  if (document.regform.password.value == '') {
    alert("Please enter your password!");
    document.regform.password.focus();
    return false;
  }
  if (document.regform.password.value != document.regform.password2.value) {
    alert("Please check your password!");
    document.regform.password2.focus();
    return false;
  }
 
  
  if (document.regform.email.value == '') {
    alert("Please enter your e-mail address!");
    document.regform.email.focus();
    return false;
  }
  if (document.regform.email.value != document.regform.email1.value) {
    alert("Please retupe your e-mail!");
    document.regform.email.focus();
    return false;
  }
  if (document.regform.agree.checked == false) {
    alert("You have to agree with the Terms and Conditions!");
    return false;
  }
  return true;
 }

 function IsNumeric(sText) {
  var ValidChars = "0123456789";
  var IsNumber=true;
  var Char;
  if (sText == '') return false;
  for (i = 0; i < sText.length && IsNumber == true; i++) { 
    Char = sText.charAt(i); 
    if (ValidChars.indexOf(Char) == -1) {
      IsNumber = false;
    }
  }
  return IsNumber;
 }
 </script>
 
 
  
 
 <form method=post action="/signup" name="regform" onsubmit="return checkform()"><input type="hidden" name="form_id" value="16995899843214"><input type="hidden" name="form_token" value="fe3a6f6bcdd10274efb7dc9c5971a2dd">
<input type=hidden name=a value="signup">
<input type=hidden name=action value="signup">

 

<label><span class="icon-envelope-shape"></span> Full Name*</label>
		<input type="text" placeholder="Full Name" name=fullname value="" autocomplete="off">
		
		
		<label><span class="icon-envelope-shape"></span> Username*</label>
		<input type="text" placeholder="Username" name=username value="" autocomplete="off">
		
		  
		<label><span class="icon-envelope-shape"></span> Email*</label>
		<input type="text"  data-focusout-call="true" data-validate="email" placeholder="example@gmail.com" name=email value="" >
		
		
		<label><span class="icon-envelope-shape"></span>Retype Email*</label>
		<input type="text" data-focusout-call="true" data-validate="email" placeholder="example@gmail.com" name=email1 value="" autocomplete="off">
		
		

		<label><span class="icon-lock-shape"></span> Password*</label>
		<div class="password">
			<input type="password"  id="password1" placeholder="Qwerty123!@#" name=password value="">
			<div class="show-password" onclick="showpassword()"></div>
		</div>
		
		
		<label><span class="icon-lock-shape"></span> Retype Password*</label>
		<div class="password">
			<input type="password"  id="password2" placeholder="Qwerty123!@#" name=password2 value="">
			<div class="show-password" onclick="showpassword2()"></div>
		</div>
		
		

		<div class="strength-password">
			<span class="info" data-info="The password may include Latin, Cyrillic, numbers and special characters" data-weak="Password is too weak" data-medium="Password is not strong enough" data-strong="Your password is strong.">The password may include Latin, Cyrillic, numbers and special characters</span>
			<div class="indicator mt-2"><span></span></div>
		</div>

		<div class="important-text">At least 8 characters, the password must contain uppercase and lowercase letters, a number and a special character</div>

		<label><span class="icon-ref-shape"></span>Partner ID</label>
		<input type="text"  value="  N/A (n/a) ">
		
		<div class="checkbox">
			<input type="checkbox" name=agree value=1 >
			<div class="checkmark"></div>
			<span>I am over 18 years old and I agree to the <a href="/rules"> terms and conditionsswiftcryptrade.com</a></span>
		</div>
		
		
		
		<button class="btn-fill w-100"  type="submit">Create an account</button>
	</form>
		<div class="progress-request"></div>
</div>
</div>
</div>
</div><!doctype html>
<html lang="en">
<head>
	<!-- Required meta tags -->
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no, viewport-fit=cover">

	<link rel="icon" type="image/png" sizes="32x32" href="/icon/favicon-32x32.png?v=2">
	<link rel="icon" type="image/png" sizes="96x96" href="/icon/favicon-96x96.png?v=2">
	<link rel="icon" type="image/png" sizes="16x16" href="/icon/favicon-16x16.png?v=2">
	<link rel="icon" href="/icon/favicon.ico" type="image/x-icon">
<!----422---->
<!----VisualHyip.com---->
	<!-- Bootstrap CSS -->
	<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">

	<meta property="og:url" content="/">
    <meta property="og:type" content="website">
    <meta property="og:title" content="swiftcryptrade.com">
    <meta property="og:site_name" content=" ">
    <meta property="og:image" content="/base/og.jpg">
    <meta property="twitter:title" content="swiftcryptrade.com">
    <meta property="twitter:site" content="swiftcryptrade.com">
    <meta property="twitter:image" content="/base/og.jpg">
    <meta property="twitter:image:src" content="/base/og.jpg" >
    <meta property="twitter:card" content="summary_large_image">

	<link rel="stylesheet" href="/css/modal.css?v=1588116398">
	<link rel="stylesheet" href="/css/base.css?v=1588116398">
	 
			<link rel="stylesheet" href="/css/forms.css?v=1588369570">
			<link rel="stylesheet" href="/css/.css?v=1588454541">
		    <link rel="stylesheet" href="/css/table.css?v=1588454541">
		<title>swiftcryptrade.com</title>
</head>
<body>
	<nav class="bg-blue-menu">
		<div class="container">
			<div class="d-flex align-items-center justify-content-between">
				<a class="navbar-brand" href="/">
					<img src="/img/logo.png" alt="swiftcryptrade.com" title="swiftcryptrade.com" >
				</a>
				<div class="menu d-flex flex-fill align-items-center justify-content-end">
					<div class="menu-items d-none d-lg-flex flex-fill justify-content-between">
						<a href="/">Home</a>	
						<a href="/arbitrage">Arbitrage</a>
						<a href="/about_us">About us</a>
						<a href="/news">News</a>
						<a href="/partnership">Affiliate Program</a>
						<a href="/help">Support</a>
					</div>

					<div class="order-xl-2 auth-items d-lg-flex d-none align-items-center">
													<a class="btn-bordered" href="/login">Log in</a>
											</div>
											
					<div class="order-xl-1 language-box">
						<button class="language">EN</button>
						<img src="/img/arrow-point.png">
						<div class="choose-language">
														<a href="/?language=ru">RU | Русский</a>						</div>
					</div>
					<button class="navbar-toggler d-lg-none" type="button"><span class="navbar-toggler-icon"></span></button>
					<span class="d-none close">&times;</span>
				</div>
			</div>
		</div>
	</nav>